/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2014, 5:13:52 PM
    Author     : dorit
*/

html, body {
    height: 100%;
    width: 100%;
}

#bumper{
    float: left; 
    display: inline; 
    margin-left: 10px;
}

#IRSensorSlider{
    float: left; 
    display: inline; 
    margin-left: 10px;
}

#timeline {
    float: left; 
    display: block; 
    position: relative;
    clear: both;
    //top: 300px;
    margin-left: 10px;  
}

#interrupts {
    float: left; 
    display: block; 
    height: 200px;
    margin-left: 10px; 
    clear: both;
}

#behaviorBar0, #behaviorBar1 {
    float: left; 
    display: block; 
    width:600px;  
}

#behaviorBar2, #behaviorBar3 {
    float: left; 
    visibility: hidden; 
    width:600px;  
}



